.main{
    width: 600px;
    height:500px;
     background-color: rgb(240, 192, 255);
    margin-left: 400px;
padding: 16px;
display: inline-block;
position: relative;
box-shadow: 0 4px 6px -1px rgba(0, 0,0, 0.5);

        
}
.registerbtn {
    
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .registerbtn:hover{
    background-color: #9c04aa;
  }

/* .sub1{
    width: 200px;
    height: 300px;
    background-color: black;
    margin-top: 5px;
    position: absolute;
   margin-left: 20px; 
   display: inline-block;

}
    
.sub2{
    width: 200px;
    height: 300px;
    background-color: yellow;
    margin-top: 5px;
    margin-left: 250px;
    position: absolute;
    display: inline-block;
    
} */
/* .fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
  } */ 