.image{
    width: 900px;
    height:1000px;
    display: inline-block; 
    position: relative;

}
.para{
    width: 400px;
    height:500px;
    background-color:darkgray;
    left:400px;
    top:50px;
    display: inline-block;
    position: absolute;
    padding-left: 10px;
    padding-top: 20px;
}